<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add 
			name="customers" 
			providerName="Microsoft.Data.SqlClient"
			connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\arnoh\Documents\git\ugent-frameworks\ado-net\classicmodels.mdf;Integrated Security=True;Connect Timeout=30"
			 />
	</connectionStrings>
	<appSettings>
		<add key="SELECT_ALL_CUSTOMERS" value="SELECT * FROM Customers;"/>
		<add key="SELECT_CUSTOMER_BY_ID" value="SELECT * FROM Customers WHERE customerNumber = @customerNumber;"/>
		<add key="DELETE_CUSTOMER_BY_ID" value="DELETE FROM Customers WHERE customerNumber = @customerNumber;"/>
		<add key="SELECT_MAX_CUSTOMER_NUMBER" value="SELECT MAX(customerNumber) FROM Customers;"/>
		<add key="INSERT_NEW_CUSTOMER" value="INSERT INTO Customers (customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit) VALUES (@customerNumber,@customerName,@contactLastName,@contactFirstName,@phone,@addressLine1,@addressLine2,@city,@state,@postalCode,@country,@salesRepEmployeeNumber,@creditLimit);"/>
		<add key="INSERT_NEW_ORDER" value="INSERT INTO orders (orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber) VALUES (@orderNumber,@orderDate,@requiredDate,@shippedDate,@status,@comments,@customerNumber);"/>
	</appSettings>
</configuration>